<?xml version="1.0"?>
<model>
  <name>Delivery Landing Pad</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Amar Jay</name>
    <email>abdmananjnr@gmail.com</email>
  </author>

  <description>
    Red-colored Box with Image
    to change image change meshes/copter.png file
  </description>
</model>
